// main: ../../style.scss
.ddd-col-1 {
    width: 8.33%;
}
.ddd-col-2 {
    width: 16.66%;
}
.ddd-col-3 {
    width: 25%;
}
.ddd-col-4 {
    width: 33.33%;
}
.ddd-col-5 {
    width: 41.66%;
}
.ddd-col-6 {
    width: 50%;
}
.ddd-col-7 {
    width: 58.33%;
}
.ddd-col-8 {
    width: 66.66%;
}
.ddd-col-9 {
    width: 75%;
}
.ddd-col-10 {
    width: 83.33%;
}
.ddd-col-11 {
    width: 91.66%;
}
.ddd-col-12 {
    width: 100%;
}
