// main: ../../style.scss
@font-face {
  font-family: "Butler";
  src: url("3dcustom/fonts/butler-regular-webfont.woff2") format("woff2"),
       url("3dcustom/fonts/butler-regular-webfont.woff") format("woff");
}

@font-face {
  font-family: "Goudy Italic";
  src: url("3dcustom/fonts/goudystm-italic-webfont.woff2") format("woff2"),
       url("3dcustom/fonts/goudystm-italic-webfont.woff") format("woff");
}

@font-face {
  font-family: "Goudy";
  src: url("3dcustom/fonts/goudystm-webfont.woff2") format("woff2"),
       url("3dcustom/fonts/goudystm-webfont.woff") format("woff");
}

@font-face {
  font-family: "Lora Italic";
  src: url("3dcustom/fonts/lora-italic-webfont.woff2") format("woff2"),
       url("3dcustom/fonts/lora-italic-webfont.woff") format("woff");
}
