// main: ../../style.scss
.footer-nav {
    ul {
        list-style-type: none;
        padding: 0;
        margin: 0;
    }
    a {
      :hover {
          color: $green;
      }
    }
}
