// main: ../../style.scss

// .lightbox-background {
//   display: none;
//   position: fixed;
//   background: $black;
//   top: 0;
//   left: 0;
//   overflow-y: auto;;
//   // height: 100%;
//   width: 100%;
//   z-index: 1000;
// }
.lightbox-background {
    position: fixed;
    background: $black;
    z-index: 1000;
    top: 0;
    left: 0;
    width: 100%;
    height: calc(100vh);
    overflow: scroll;
    -ms-overflow-style: none;
    box-sizing: border-box;
    display: none;
    padding: 20px;
}

.lightbox-background::-webkit-scrollbar {
  width: 0;  /* remove scrollbar space */
  background: transparent;  /* optional: just make scrollbar invisible */
}

.lightbox-button-close {
    position: fixed;
    top: 0;
    right: 0;
    background: $black;
    width: 40px;
    height: 45px;
    cursor: pointer;
    p {
        font-family: 'Helvetica';
        font-size: 38px;
        color: $white;
        margin: 0;
        text-align: center;
        line-height: 45px;
    }
    :hover {
      background: $gray;
    }
}

#lightbox-background {
    display: none;
}

.lightbox-pattern-img {
    padding: 5px;
    width: 100%;
    cursor: pointer;
    border: 2px solid $black;
}

.masonry {
  column-count: 1;
  column-gap: 2.5px;
}
.lightbox-pattern-img:hover {
  border: 2px solid $white;
}

.pattern-lightbox {
    img {
        width: 100%;
        margin: auto;
        cursor: pointer;
    }
}
