// main: ../../style.scss
$width: 165px;
$img-width: 150px;
$img-left: 135%;

.pattern-select-wrapper {
    width: $width;
    position: relative;
    img {
        width: $img-width;
        position: absolute;
        left: $img-left;
        bottom: -70px;
    }
}

.color-select-wrapper {
    position: relative;
    width: $width;
    img {
        width: $img-width;
        position: absolute;
        left: $img-left;
        bottom: -65px;
    }
}

.personalized-select-wrapper {
    position: relative;
    width: $width;
}

#mounting-style {
    width: $width;
}

.pattern-preview-image {
    padding: 2px;
    bottom: 10px;
    cursor: pointer;
}

.pattern-preview-image:hover {
  padding: 0;
  border: 2px solid $gray;
}
