.pattern-select-wrapper {
  width: 100%;

  label {
    display: block;
  }

  select {
    margin-bottom: 20px;
    width: 100%;
  }

  img {

    width: 100%;
    margin-bottom: 15px;
  }
}

.color-select-wrapper {
  label {
    display: block;
  }

  select {
    width: 100%;
    margin-bottom: 20px;
  }

  img {
    width: 100%;
    margin-bottom: 20px;
  }
}

.personalized-select-wrapper {
  label {
    display: block;
  }

  select {
    width: 100%;
    margin-bottom: 20px;
  }

  input {
    width: 100%;
    height: 35px;
    margin-bottom: 13px;
  }
}

#mounting-style {
  width: 100%;
}

.input-warning {
  top: -54%;
  opacity: 0;
  position: absolute;
}

@media only screen and (min-width: $break-phone) {
  $width: 165px;
  $img-width: 150px;
  $img-left: 135%;

  .pattern-select-wrapper {
    width: $width;
    position: relative;

    img {
      width: $img-width;
      position: absolute;
      left: $img-left;
      bottom: -70px;
    }
  }

  .color-select-wrapper {
    position: relative;
    width: $width;

    img {
      width: $img-width;
      position: absolute;
      left: $img-left;
      bottom: -65px;
    }
  }

  .personalized-select-wrapper {
    position: relative;
    width: $width;
  }

  #mounting-style {
    width: $width;
  }

  .pattern-preview-image {
    padding: 2px;
    bottom: 10px;
    cursor: pointer;
  }

  .pattern-preview-image:hover {
    padding: 0;
    border: 2px solid $color-gray;
  }
}

@media only screen and (min-width: $break-desktop) {
  $width: 190px;

  .pattern-select-wrapper,
  .color-select-wrapper {
    width: $width;

    img {
      width: $width;
      left: 147%;
    }
  }

  .personalized-select-wrapper {
    width: $width;
  }

  #mounting-style {
    width: $width;
  }
}
