// main: ../../style.scss
.ddd-col-m-1 {
    width: 8.33%;
}
.ddd-col-m-2 {
    width: 16.66%;
}
.ddd-col-m-3 {
    width: 25%;
}
.ddd-col-m-4 {
    width: 33.33%;
}
.ddd-col-m-5 {
    width: 41.66%;
}
.ddd-col-m-6 {
    width: 50%;
}
.ddd-col-m-7 {
    width: 58.33%;
}
.ddd-col-m-8 {
    width: 66.66%;
}
.ddd-col-m-9 {
    width: 75%;
}
.ddd-col-m-10 {
    width: 83.33%;
}
.ddd-col-m-11 {
    width: 91.66%;
}
.ddd-col-m-12 {
    width: 100%;
}
