// main: ../../style.scss
h1 {
    font-size: rem(48px);
}

p {
    font-size: rem(18px);
}

a {
    font-size: rem(18px);
}

.site-title {
    a {
        font-size: rem(42px);
    }
}
