// main: ../../style.scss

.input-warning {
  font-size: rem(16px);
}

h1,h2,h3,h4,h5,h6,a {
  font-family: 'Butler';
}

p {
  font-family: 'Goudy';
}

// .font-test-1 {
//   font-family: 'Goudy Italic';
// }
// //
// .font-test-2 {
//   font-family: 'Goudy';
// }
// //
// .font-test-3 {
//   font-family: 'Lora Italic';
// }
